[submodule "core"]
	path = home
	url = https://gitlab.com/flap-box/home.git
[submodule "sogo"]
	path = sogo
	url = https://gitlab.com/flap-box/sogo.git
[submodule "ldap"]
	path = ldap
	url = https://gitlab.com/flap-box/ldap.git
[submodule "lemon"]
	path = lemon
	url = https://gitlab.com/flap-box/lemon.git
[submodule "matrix"]
	path = matrix
	url = https://gitlab.com/flap-box/matrix.git
