<html>
	<head>
		<title>Authentication</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/static/bwr/vital.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/lemon_flapskin/css/skin.css"
		/>
	</head>
	<body>
		<div class="section">
			<div class="col-1-5 space"></div>
			<div class="col-3-5 feed-card flapskin-center">
				<p>
					A client is trying to {{ description | e }}. To confirm this
					action,
					<a href="{{ redirect_url | e }}"
						>re-authenticate with single sign-on</a
					>. If you did not expect this, your account may be
					compromised!
				</p>
			</div>
			<div class="col-1-5 space"></div>
		</div>
	</body>
</html>
