<html>
	<head>
		<title>Authentication Successful</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/static/bwr/vital.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/lemon_flapskin/css/skin.css"
		/>
		<script>
			if (window.onAuthDone) {
				window.onAuthDone()
			} else if (window.opener && window.opener.postMessage) {
				window.opener.postMessage("authDone", "*")
			}
		</script>
	</head>
	<body>
		<div class="section">
			<div class="col-1-5 space"></div>
			<div class="col-3-5 feed-card flapskin-center">
				<p>Thank you</p>
				<p>
					You may now close this window and return to the application
				</p>
			</div>
			<div class="col-1-5 space"></div>
		</div>
	</body>
</html>
