<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SSO account deactivated</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/static/bwr/vital.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://auth.{{ server_name }}/lemon_flapskin/css/skin.css"
		/>
	</head>
	<body>
		<div class="section">
			<div class="col-1-5 space"></div>
			<div class="col-3-5 feed-card flapskin-center">
				<p>This account has been deactivated.</p>
			</div>
			<div class="col-1-5 space"></div>
		</div>
	</body>
</html>
