[mta]
incoming: mailman.mta.postfix.LMTP
outgoing: mailman.mta.deliver.deliver
# Postfix server's hostname or IP from mailman-core
smtp_host: mail
smtp_port: 25
configuration: /etc/postfix-mailman.cfg

[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: $ADMIN_EMAIL