[Unit]
Description=FLAP services
After=network-online.target docker.service
Requires=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
EnvironmentFile=/etc/environment
ExecStart=/bin/flapctl start
ExecReload=/bin/flapctl restart
ExecStop=/bin/flapctl stop
Restart=no

[Install]
WantedBy=multi-user.target
