[Unit]
Description=Restore FLAP's data to initial state every day

[Timer]
OnCalendar=daily
Persistent=true
Unit=restore_flap.service

[Install]
WantedBy=timers.target
